body {
    font-family: monospace;
}

tr {
    margin: 0;
}

#card_background {
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.5);
}

a {
    text-decoration: none;
}

#profile_img {
    width: 20vw;
    height: 20vw;
    object-fit: cover;
    min-width: 100%;
    min-height: 100%

}

#login_name {
    font-size: 2vw;
}

#description {
    font-size: 2vw;
}

#thailand {
    font-size: 2vw;
}

#contact_button {
    width: 100%;
    background: black;
    color: white;
    border: none;
    padding: 5%;
}

#contact_button:active {
    background-color: white;
    color: black
}

