body {
    display: flex;
    justify-content: center;
    margin: 0;
}

table {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

#first {
    padding-left: 2%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 20%;
    text-align: left;
    background-color: greenyellow;
    border: 1px solid black;
    font-size: 4vw;
}

#second {
    padding-left: 2%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 20%;
    text-align: left;
    background-color: pink;
    border: 1px solid black;
    font-size: 4vw;
}